.product-container {
    display: flex;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.shopping-cart{
    width: 25vb;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
}